:root {
  --input_height: 43px;
  --input_width: 374px;
}

.Container {
  position: absolute;
  right: 210px;
  top: calc(var(--input_height) / 2);
  width: var(--input_width);
  height: var(--input_height);
  background-color: #f7f7f7;
  border-radius: 50px;
  display: flex;

  & .SVGContainer {
    display: flex;
    justify-self: center;
    align-self: center;
    width: calc(var(--input_height) / 2);
    height: calc(var(--input_height) / 2);
    margin: 11px 10px 11px 17px;
  }
  .SVGContainer svg {
    fill: var(--main-blue);
  }

  & .Input {
    width: var(--input_width);
    height: calc(var(--input_height) - 5px);
    background-color: #f7f7f7;
    border: none;
    border-radius: 0 50px 50px 0;
    color: var(--black);

    height: 100%;

    &::placeholder {
      color: var(--black);
      padding-left: 1px;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 1024px) {
  :root {
    --input_height: 43px;
    --input_width: 260px;
  }

  .Container {
    width: var(--input_width);

    & .Input {
      width: var(--input_width);
      height: calc(var(--input_height) - 5px);
      height: 100%;
    }
  }
}

@media (max-width: 750px) {
  :root {
    --input_height: 33px;
    --input_width: 110px;
  }
  .Container {
    position: absolute;
    top: calc(var(--input_height) / 1.4);
    right: 240px;
    & .Input {
      width: var(--input_width);
      height: calc(var(--input_height) - 5px);
      height: 100%;
    }
  }
}
