@import '../../styles/scrollbar';

:root {
  --list-item-height: 45px;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}

.PageContainer {
  width: 350px;
  max-height: 300px;
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  position: fixed;
  bottom: 3px;
  right: 20px;
  background-color: var(--white);

  & .TopBar {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: var(--list-item-height);
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 14px;
    color: var(--white);

    & .CloseBtn {
      background-color: transparent;
      border: none;
      color: var(--white);
      font-weight: 700;
      cursor: pointer;
    }
  }

  & .List {
    max-height: 250px;
    margin: 3px 8px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    @include scrollbar;

    & .ListItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: var(--list-item-height);
      width: 100%;
      list-style-type: none;
      background-color: var(--white);
      color: var(--main-blue);
      font-weight: 700;
      font-size: 14px;
      padding: 0 25px;
      &:last-of-type {
        border-radius: 0 0 5px 5px;
      }

      .NameIconContainer {
        display: flex;
        gap: 10px;
        align-items: center;

      }
      .SpinningContainer {
        height: 100%;
        display: flex;
        align-items: center;

        .SpinningIcon {
          animation: spin 1.1s linear infinite;
        }
      }
    }
  }
}

.PageDropBottom {
  bottom: 7.5vh;
  right: 10vw;
}
