@import '../../../styles/fonts';

.leftSideBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  min-width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;

  .ContentContainer {
    padding: 50% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .Avatar {
      width: 100px;
      height: 100px;
    }

    .UploadButton {
      border-radius: 20px;
      height: 42px;
      width: 150px;
      background: var(--main-blue);
      font-style: normal;
      @include fontBodyXXL;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .UtilityButtons {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      padding-left: 5px;
      width: 100%;
      padding-top: 10px;

      & .UtilItem {
        font-style: normal;
        @include fontBodyXL;
        color: var(--grey8);
        display: flex;
        width: 60%;
        align-items: center;
        border-radius: 5px;

        &:hover {
          color: var(--grey10);
        }

        svg {
          margin-right: 5px;
        }
      }

      .Logout {
        margin-bottom: 10px;
      }

      .Settings {
        svg {
          padding: 3px;
        }
      }
    }
  }
}
