@import '../../../styles/fonts';

.leftSideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  min-height: 500px;
  overflow: auto;

  .ContentContainer {
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .UpperContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Avatar {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      cursor: pointer;

      &:hover {
          transition: all 0.05s ease-out;
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          transform: scale(1.02);
      }
    }

    .AvatarBorder {
      border: 2.5px solid #5f93f1;
    }

    & .LinksContainer {
      margin-top: 100px;
      max-width: 240px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;

      & .LinksAndIcon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 240px;

        & .Link {
          align-self: flex-end;
          display: flex;
          align-self: flex-end;
          width: 85%;
          max-height: 50px;
          padding: 10px;
          font-size: 16px;
          color: var(--grey9);

          &.active .Text {
            color: var(--main-blue);
          }
          &.active .SVGBox svg {
            fill: var(--main-blue);
          }

          & .Text {
            font-size: 16px;
            color: var(--grey9);
            text-transform: capitalize;
          }

          &:hover {
            color: var(--main-blue);
          }
          &:hover .SVGBox svg {
            fill: var(--main-blue);
          }
          &:hover .Text {
            color: var(--main-blue);
          }

          & .SVGBox {
            margin-right: 10px;
            height: 16px;
            width: 16px;
            padding-top: 2px;

            & svg {
              fill: var(--grey9);
            }
          }
        }
      }
    }

    .UploadButton {
      border-radius: 20px;
      height: 42px;
      width: 150px;
      background: var(--foreground);
      border: 1px solid var(--main-blue);
      font-style: normal;
      font-weight: 700;
      margin-bottom: 10px;

      & .UploadText {
        @include fontBodyXXL;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-blue);
      }
      & svg {
        margin-right: 7px;
      }
    }

    .UtilityButtons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      & .Link {
        display: flex;
        max-height: 50px;
        width: 100%;
        padding: 10px 0px;
        border-radius: 10px;

        & .Text {
          font-size: 16px;
          color: var(--grey9);

          &:hover {
            color: var(--main-blue);
          }
        }
        &:hover .SVGBox svg {
          fill: var(--main-blue);
        }

        & .SVGBox {
          margin-right: 10px;
          height: 15px;
          width: 15px;
          padding-top: 2px;

          & svg {
            fill: var(--grey9);
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .leftSideBar {
    display: none;
  }
}
