@import '../../../styles/fonts';

.leftSideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 650px;
  // Change --leftbar-size in RightSideLayer to the same
  width: var(--leftbar-size);

  .ContentContainer {
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .UpperContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Avatar {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      cursor: pointer;
    }

    .AvatarBorder {
      border: 5px solid var(--main-blue);
    }

    & .LinksContainer {
      margin-top: 100px;
      max-width: var(--leftbar-size);
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;

      & .LinksAndIcon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: var(--leftbar-size);

        & .Link {
          align-self: flex-end;
          display: flex;
          align-self: flex-end;
          width: 85%;
          max-height: 50px;
          padding: 10px;
          font-size: 16px;
          color: var(--grey9);

          &.active .Text {
            color: var(--main-blue);
          }
          &.active .SVGBox svg {
            fill: var(--main-blue);
          }

          & .Text {
            font-size: 16px;
            color: var(--grey9);
            text-transform: capitalize;
          }

          &:hover {
            color: var(--main-blue);
          }
          &:hover .SVGBox svg {
            fill: var(--main-blue);
          }
          &:hover .Text {
            color: var(--main-blue);
          }

          & .SVGBox {
            margin-right: 10px;
            height: 16px;
            width: 16px;
            padding-top: 2px;

            & svg {
              fill: var(--grey9);
            }
          }
        }
      }
    }

    .UploadButton {
      border-radius: 20px;
      height: calc(var(--leftbar-size) * 0.2);
      width: calc(var(--leftbar-size) * 0.6);
      background: var(--white);
      border: 1px solid var(--main-blue);
      margin-bottom: 10px;

      & .UploadText {
        @include fontBodyXL;
        text-align: center;
        color: var(--main-blue);
      }
      svg {
        margin: 0 7px 3px 0;
      }
    }
    .activeButton {
      border: 2px solid var(--main-blue);
    }

    .UtilityButtons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      & .Link {
        display: flex;
        max-height: 50px;
        width: 100%;
        padding: 10px 0px;
        border-radius: 10px;

        & .Text {
          font-size: 16px;
          color: var(--grey9);

          &:hover {
            color: var(--main-blue);
          }
        }
        &:hover .SVGBox svg {
          fill: var(--main-blue);
        }

        & .SVGBox {
          margin-right: 10px;
          height: 15px;
          width: 15px;
          padding-top: 2px;

          & svg {
            fill: var(--grey9);
          }
        }
      }
    }
  }
}
