@import '../../../styles/fonts';

.leftSideBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  min-width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;

  .ContentContainer {
    padding: 50% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .UpperContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Avatar {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      cursor: pointer;
    }

    & .LinksContainer {
      margin-top: 100px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;

      & .Link {
        display: flex;
        max-height: 50px;
        margin-bottom: 20px;
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
          background-color: var(--grey2);
        }

        & .Text {
          font-size: 16px;
          color: var(--grey9);
        }

        & .SVGBox {
          margin-right: 10px;
          height: 15px;
          width: 15px;
          padding-top: 2px;

          & svg {
            fill: var(--grey9);
          }
        }
      }
    }

    .UploadButton {
      border-radius: 20px;
      height: 42px;
      width: 150px;
      background: var(--main-blue);
      font-style: normal;
      @include fontBodyXXL;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .UtilityButtons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      & .Link {
        display: flex;
        max-height: 50px;
        // margin-bottom: 15px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
          background-color: var(--grey2);
        }

        & .Text {
          font-size: 16px;
          color: var(--grey9);
        }

        & .SVGBox {
          margin-right: 10px;
          height: 15px;
          width: 15px;
          padding-top: 2px;

          & svg {
            fill: var(--grey9);
          }
        }
      }
    }
  }
}
