.ContentContainer {
  width: 100%;
  .UpperContainer {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    padding: 200px 30px 0 30px;
    margin-bottom: 3%;

    & .Image {
      padding: 0 20px;
      width: 50%;
      cursor: pointer;
    }

    & .TextContainer {
      padding: 0 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & h1 {
        font-size: 3rem;
      }

      & .CreatorContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .CreatorItem {
          width: 40%;
          height: 100%;
          padding: 10px 0;
          background-color: var(--grey1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & .User {
          display: flex;
          align-items: center;
        }

        & .CollectionName {
          color: var(--sea-blue);
        }

        & .Avatar {
          width: 30px;
          height: 30px;
          border-radius: 25px;
          margin-right: 1rem;
        }

        & .CreatorName {
          font-weight: 800;
          color: var(--sea-blue);
        }
      }

      & .DescriptionBox {
        & h4 {
          text-transform: bold;
          font-weight: 600;
        }
      }
    }
  }

  .LowerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    max-width: 1200px;
    max-height: 37%;
    overflow: hidden;

    & .LeftSideContainer {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      width: 50%;
      overflow-y: auto;
    }

    // TABLE

    .HeadAndTableContainer {
      background-color: var(--grey1);
      padding: 20px 10px;
      border-radius: 10px;

      & .TableHeadings {
        padding-left: 10px;
        width: 70%;
        min-width: 200px;
        max-width: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        text-transform: uppercase;
        cursor: pointer;
        color: var(--grey8);

        & .active {
          color: var(--black);
        }
      }
    }
    .TableContainer {
      width: 100%;
      min-height: 330px;
      display: flex;
      padding: 0 10px;
      flex-direction: column;
    }

    ////END OF TABLE

    .RightSideContainer {
      width: 50%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // INFO BOX
      .InfoContainer {
        width: 100%;
        height: 100px;
        background-color: var(--grey1);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .SingleItem {
          display: flex;
          flex-direction: column;
          align-items: center;

          & .ItemTitle {
            color: var(--sea-blue);
            font-size: 12px;
            padding-bottom: 3px;
          }

          & .ItemNumber {
            color: #3a3a3a;
            font-size: 22px;
            font-weight: 700;
          }
        }
      }

      // PURCHASE BOX
      .PurchaseContainer {
        h2 {
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        & .PurchaseBox {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 70%;
          background-color: var(--grey1);
          border-radius: 8px;

          & .LeftItems {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 55%;

            .Price {
              display: flex;
              align-items: center;
              width: 100%;
              padding-left: 10px;
              & img {
                height: 32px;
              }
              & div {
                font-size: 32px;
                color: var(--main-blue);
                font-weight: 800;
                padding-left: 8px;
              }
            }
            & .USDPrice {
              color: #a8a8a8;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              width: 40%;
              height: 100%;
              margin-bottom: 5px;
              margin-right: 3px;
            }
          }

          & .BuyButton {
            width: 200px;
            height: 100%;
            border: none;
            background-color: var(--main-blue);
            color: white;
            border-radius: 5px;
            font-size: 24px;
            cursor: pointer;
          }
        }
      }
    }

    // TAGS BOX
    .TagContainer {
      h2 {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      & .TagBtnContainer {
        display: flex;
        justify-content: space-between;

        & .TagBtn {
          background-color: var(--sea-blue);
          color: white;
          border: none;
          border-radius: 40px;
          cursor: pointer;
          font-size: 12px;
          height: 40px;
          width: 30%;
        }
      }
    }
  }
}
