@import '../../styles/fonts';

.TextBox {
  width: 100%;
  background-color: var(--white);
  height: 94px;
  padding: 20px 33px;
  color: var(--teal);
  @include fontTitleS;
  word-break: keep-all;
}
@media only screen and (max-width: 1024px) {
  .TextBox {
    height: 124px;
  }
}
