.Container {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & .InfoContainer {
    display: flex;
    flex-direction: column;

    height: 100%;

    & .Title {
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 5px;
      color: var(--black);
    }
    & .Info {
      padding-bottom: 1rem;
      font-size: 16px;
      font-weight: 400;
      color: var(--main-blue);
    }
    & .Bold {
      font-weight: 900;
    }
  }

  & button {
    align-self: center;
    border-radius: 8px;
    min-width: 148px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      margin-right: 4px;
    }
  }
}
