@import '../../../../../styles/fonts';

.Container {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & .InfoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 400px;

    & .Title {
      @include fontBodyXXL;
      line-height: normal;
      color: var(--black);
    }
    & .Info {
      @include fontBodyXXL;
      line-height: normal;
      padding-bottom: 1rem;
      color: var(--main-blue);
    }
    & .Bold {
      font-weight: 900;
    }
  }

  & button {
    align-self: center;
    border-radius: 8px;
    min-width: 148px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      margin-right: 4px;
    }
  }
}

.PlaceholderBox {
  height: 120px;
  width: 290px;
  background-color: #a8a8a8;
  border-radius: 15px;
}
