.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: default;
  & .XBtn {
    position: absolute;
    padding: 5px;
    border: none;
    outline: none;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
    color: var(--grey8);
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  & .Image {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
