@import '../../../styles/fonts';

.WalletCard {
  height: 104px;
  width: 372px;
  background: radial-gradient(81.07% 41.44% at 74.1% 69.96%, #48a8e8 0%, rgba(100, 194, 209, 0.8) 100%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .CardItems {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;

    .Text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 9px;

      .Wallet {
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 100.9%;
        text-transform: uppercase;
        color: var(--foreground);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      }

      .Address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        // .ShowCopied {
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        //   align-items: center;
        //   gap: 3px;

        //   .CopiedText {
        //     top: -22px;
        //     position: absolute;
        //     background-color: #333;
        //     color: #ffffff;
        //     padding: 3px 4px;
        //     border-radius: 5px;
        //   }

        //   .CopiedText::after {
        //     content: '';
        //     position: absolute;
        //     top: 100%;
        //     left: 50%;
        //     margin-left: -5px;
        //     border-width: 5px;
        //     border-style: solid;
        //     border-color: #333 transparent transparent transparent;
        //   }

        //   .CopyIcon {
        //     position: absolute;
        //   }
        // }

        .AddressName {
          font-family: 'Roboto';
          font-style: normal;
          @include fontBodyXXL;
          text-transform: uppercase;
          color: var(--foreground);
          opacity: 0.6;
        }

        .CopyIcon {
          width: 12px;
          height: 12px;
          cursor: pointer;
          margin-bottom: 2px;
        }
      }
    }
  }
}
