@import '../../../styles/fonts';

.WalletCard {
  height: 104px;
  width: 372px;
  // background: radial-gradient(81.07% 41.44% at 74.1% 69.96%, #48a8e8 0%, rgba(100, 194, 209, 0.8) 100%);
  background-color: var(--main-blue);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .CardItems {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;

    & .Avatar {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
    }

    .Text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 9px;

      .Wallet {
        font-weight: 600;
        font-size: 26px;
        line-height: 100.9%;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      }

      .Address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .AddressName {
          @include fontBodyXXL;
          text-transform: uppercase;
          color: var(--white);
          opacity: 0.6;
        }

        .CopyIcon {
          width: 12px;
          height: 12px;
          cursor: pointer;
          margin-bottom: 2px;
        }
      }
    }
  }
}
