.SecondTd {
  text-transform: uppercase;
}

.ProgressBarContainer {
  .ProgressBar {
    width: 87px;
    height: 15px;
    background: #ddfaff;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3a3a3a;
    text-shadow: 0px 0px 2px rgba(23, 64, 37, 0.1);

    .ColoredBack {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #91f0ff;
      z-index: -1;
    }
  }
}

.IconSt {
  width: 30%;
}

.HideTh {
  width: 35px;
}

.TableRow2 {
  width: 100%;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid black;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--grey4);
  background-color: var(--white);

  .FirstTd {
    padding-left: 5px;
  }

  & :nth-child(2) {
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 104.9%;
    color: var(--main-blue);
  }
  & :nth-child(3) {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: var(--teal);
  }
  & :nth-child(4) {
    text-align: left;
  }

  & :nth-child(5) {
    text-align: left;
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--grey10);
  }
  & :nth-child(6) {
    text-align: left;
    padding-left: 35px;

    font-weight: 700;
    font-size: 16px;
    line-height: 104.9%;
    letter-spacing: 0.005em;
    color: var(--sea-blue);
  }

  & :nth-child(7) {
    padding-right: 0;
    transition: all 0.05s ease-in-out;

    svg {
      cursor: pointer;
    }
  }
  & :nth-child(8) {
    text-align: left;
  }
}

.PausedTd {
  background: #e9f0fc;
}
