.HStack {
  width: 100%;

  & .PrevButton {
    background-color: var(--foreground);
    border: 1px solid var(--sea-blue);
    color: var(--sea-blue);
    padding: 10px 20px;
    box-shadow: none;
    min-width: 118px;
  }
  & .NextButton {
    background-color: var(--sea-blue);
    color: var(--foreground);
    padding: 10px 20px;
    box-shadow: none;
    min-width: 118px;
  }
}
@media only screen and (max-width: 1024px) {
  .HStack {
    flex-direction: row;
  }
}
