.CardContainer {
  cursor: pointer;
  &:hover {
    border-radius: 15px;
    transition: all 0.05s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transform: scale(1.01);
  }

  .TopItems {
    width: 85%;

    & .Image {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      overflow: hidden;
      margin: 20px 0px 10px 0px;
    }

    & .TextContainer {
      & .Title {
        font-size: 1rem;
        font-weight: 700;
        color: var(--grey10);
      }
      & .Owner {
        font-size: 0.75rem;
        text-transform: uppercase;
        margin-top: 8px;
        color: var(--grey6);
      }
    }
  }

  .BottomItems {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;

    & .UserItems {
      display: flex;
      align-items: center;

      & .Avatar {
        width: 30px;
        height: 30px;
        border-radius: 25px;
      }
      & .UserName {
        color: var(--grey10);
        font-size: 0.75rem;
        margin-left: 5px;
      }
    }

    & .PriceItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      & .PriceTitle {
        color: var(--grey10);
        font-size: 0.875rem;
      }

      & .Price {
        text-transform: uppercase;
        color: var(--teal);
        font-weight: 700;
        font-size: 0.875rem;
        display: flex;

        // TEMP
        img {
          width: 14px;
          height: 14px;
          margin-right: 3px;
        }
      }
    }
  }

  // styles for profile page
  .PTopItems {
    .Title {
      // some design if needed
    }
  }

  .PBottomItems {
    justify-content: flex-end;

    .PriceItems {
      .AmountContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        width: 122px;
        height: 29px;
        background: #ffecde;
        border-radius: 4px;
        padding-right: 10px;

        .Cycon {
          width: 18.14px;
          height: 18.14px;
        }
        .CyconDescDiv {
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 23px;
          letter-spacing: 0.03em;
          color: #f37123;
        }
      }

      .AmountFreeContainer {
        width: 62px;
        background: #d9faff;
        padding-right: 0;

        //text
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--teal);
      }
    }
  }
}
