.CardContainer { 
  &:hover {
    border-radius: 15px;
    transition: all 0.05s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transform: scale(1.01);
}

.TopItems {
  width: 85%;

  & .Image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0px 10px 0px;
  }

  & .TextContainer {
    & .Title {
      font-size: 1rem;
      font-weight: 700;
      color: var(--grey10);
    }
    & .Owner {
      font-size: 0.75rem;
      text-transform: uppercase;
      margin-top: 8px;
      color: #c7c7c7;
    }
  }
}

.BottomItems {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;

  & .UserItems {
    display: flex;
    align-items: center;

    & .Avatar {
      width: 30px;
      height: 30px;
      border-radius: 25px;
    }
    & .UserName {
      color: var(--grey10);
      font-size: 0.75rem;
      margin-left: 5px;
    }
  }

  & .PriceItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    & .PriceTitle {
      color: var(--grey10);
      font-size: 0.875rem;
    }

    & .Price {
      text-transform: uppercase;
      color: #64c2d1;
      font-weight: 700;
      font-size: 0.875rem;
      display: flex;

      // TEMP
      img {
        width: 14px;
        height: 14px;
        margin-right: 3px;
      }
    }
  }
}
}
