@import '../../styles/fonts';

.Container {
  padding: 15% 10px 0px 10px;
  width: 100%;
  height: calc(100vh - 25px);
  overflow-y: hidden;
  box-sizing: border-box;

  .BalanceCards {
    display: flex;
    border-radius: 4px;
    gap: 13px;
    margin-bottom: 46px;
  }

  .BottomBoxContainer {
    margin-bottom: 21px;
    width: calc(100% - 5px);

    .BottomBox {
      width: 100%;
      height: 61px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .DescriptionTitle {
        font-weight: 600;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: var(--black);
        text-transform: uppercase;
      }

      .DescriptionBox {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;

        .DescriptionWords {
          display: flex;
          gap: 9px;

          .DescriptionWord {
            background: var(--grey1);
            border: none;
            width: 128px;
            height: 28px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            user-select: none;
            font-weight: 500;
            color: var(--grey10);
            text-transform: uppercase;
          }

          .ClickedWord {
            background: var(--off-white);
            color: var(--main-blue);
          }
        }

        .BoxedIcon {
          height: 100%;
          display: flex;

          justify-content: center;
          align-items: flex-end;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
