@import '../../styles/fonts';

.Container {
  padding: 15% 60px 0px 60px;
  width: 100%;
  height: calc(100vh - 25px);
  overflow-y: hidden;
  box-sizing: border-box;
  margin-top: -15px;

  .BalanceCards {
    display: flex;
    border-radius: 4px;
    gap: 24px;
    margin-bottom: 76px;
  }
}
