@import '../../styles/fonts';

.Container {
  padding: 15% 60px 0px 60px;
  width: 100%;
  height: calc(100vh - 25px);
  overflow-y: hidden;
  box-sizing: border-box;

  .BalanceCards {
    display: flex;
    border-radius: 4px;
    gap: 24px;
    margin-bottom: 76px;
  }

  .BottomBoxContainer {
    margin-bottom: 16px;
    width: calc(100% - 5px);

    .BottomBox {
      width: 100%;
      height: 89px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .DescriptionTitle {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: var(--black);
        text-transform: uppercase;
        margin-left: -2.25px;
      }

      .DescriptionBox {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;

        .DescriptionWords {
          display: flex;
          gap: 20px;

          .DescriptionWord {
            background: var(--grey1);
            border: none;
            width: 159px;
            height: 42px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            // text
            font-weight: 500;
            color: var(--grey10);
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
          }

          .ClickedWord {
            background: #dbf2ff;
            border: 1px solid var(--main-blue);
            font-style: normal;
            font-weight: 700;
            color: var(--main-blue);
          }
        }

        .BoxedIcon {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
