.Card {
  word-break: break-all;
  min-height: 370px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.border {
    border: 1px solid var(--off-white);
  }

  &.primary {
    background-color: var(--white);
  }
  &.secondary {
  }
  &.tertiary {
  }
  &.ghost {
    background-color: none;
  }
}
