.MotionContainer {
  height: 100%;
  width: 100%;

  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & .SizingContainer {
    height: 100%;
  }

  & .InputsContainer {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & .SizingContainer {
      height: 100%;
      height: 400px;
      padding-bottom: 1rem;
    }

    & .InputsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .InputBox {
        display: flex;
        flex-direction: column;
        align-self: start;

        & .Warning {
          min-height: 25px;
          font-size: 12px;
          color: #d12221;
          padding-top: 2px;
          margin-bottom: 34px;
        }

        & .InputText {
          color: var(--black);
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 5px;
        }

        & .Input {
          padding: 10px;
          height: 40px;
          min-width: 355px;
          border: 1px solid var(--grey6);
          border-radius: 3px;

          &:focus {
            outline: none;
            border: 1px solid #4788ff;
            box-shadow: 0 0 3px #4788ff;
          }
          &::placeholder {
            color: var(--grey8);
          }
        }
      }
    }

    & .Button {
      width: 150px;
      border-radius: 8px;
      font-size: 16px;
      align-self: center;
    }
  }
}
