.Container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sea-blue);

  & .Card {
    width: 60%;
    height: 769px;

    & .header {
      svg {
        width: 41px;
        height: 36px;
        margin-right: 18px;
      }
      h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 46px;
        display: flex;
        align-items: center;
        color: var(--main-blue);
        margin-bottom: 30px;
      }
      h3.initial {
        color: var(--sea-blue);
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #585858;
      }
    }
  }

  .policy {
    position: absolute;
    bottom: 28px;
    left: calc((100% - 200px) / 2);
    .policy_list {
      list-style: none;
      display: flex;
      .policy_item a {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 172%;
        margin: 0 18px;
      }
    }
  }
}
