@import '../../../styles/fonts';

.container {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sea-blue);

  & .CardWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .ContentContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    & .Card {
      height: 650px;
      background-color: var(--background);
      // Not sure why important is needed as of now
      padding: 60px 80px !important;
      justify-content: space-between;
      align-items: center;

      & .Header {
        word-break: keep-all;

        &.centered {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          width: 80%;
        }
        svg {
          width: 41px;
          height: 36px;
          margin-right: 18px;
        }
        h3 {
          font-weight: 600;
          font-size: 2.2rem;
          line-height: 46px;
          color: var(--main-blue);
          margin-bottom: 30px;
        }
        h3.initial {
          color: var(--sea-blue);
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #585858;
          word-break: keep-all;
        }
      }
    }
  }

  .policy {
    position: absolute;
    bottom: 28px;
    left: calc((100% - 200px) / 2);
    .policy_list {
      list-style: none;
      display: flex;
      .policy_item a {
        color: white;
        @include fontBodyXXL;
        margin: 0 18px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    & .CardWrapper {
      height: 100%;
      & .Card {
        width: 90%;
        padding: 30px 20px;
        min-height: 720px;
        gap: 10px;
        & .header {
          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 770px) {
  .container {
    .policy {
      position: absolute;
      bottom: 5px;

      .policy_list {
        .policy_item a {
          @include fontBodyXL;
          margin: 0 0 0 22px;
        }
      }
    }
  }
}
