.Container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey1);

  .InnerContainer {
    display: flex;
    max-height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .Title {
      font-size: 22px;
      font-weight: 600;
    }
    & .ImageContainer {
      width: 160px;
      aspect-ratio: 1/1;
      border-radius: 10px;
      margin: 40px 0;
      border: 1px solid var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;

      img {
        width: 150px;
        height: 150px;
      }
    }

    & .Address {
      border: 1px solid var(--main-blue);
      text-align: center;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      background-color: var(--foreground);

      & svg {
        height: 10px;
        margin-left: 8px;
      }
    }
  }
}
