.Onboarding {
  & .HStack {
    margin-top: 85px;
    & .PrevButton {
      background-color: var(--foreground);
      border: 1px solid var(--sea-blue);
      color: var(--sea-blue);
      padding: 10px 20px;
    }
    & .NextButton {
      background-color: var(--sea-blue);
      color: var(--foreground);
      padding: 10px 20px;
    }
    & .Tags {
      display: flex;
    }
  }
  & .WarningBox {
    display: flex;
    p {
      padding: 5px 10px;
      border-radius: 4px;
      background-color: rgb(252, 252, 147);
      color: rgb(136, 136, 38);
    }
  }
}
