.Onboarding {
  & .HStack {
    margin-top: 85px;
    & .PrevButton {
      background-color: var(--white);
      border: 1px solid var(--sea-blue);
      color: var(--sea-blue);
      padding: 10px 20px;
    }
    & .NextButton {
      background-color: var(--sea-blue);
      color: var(--white);
      padding: 10px 20px;
    }
    & .Tags {
      display: flex;
    }
  }
}
