.PageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .TitleBarContainer {
    width: 100%;
    margin-bottom: 30px;
  }

  & .LowerContainer {
    display: flex;
    justify-content: center;

    & .Column {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    & .LeftColumn {
      //   border: 2px solid blue;
      margin-right: 10px;
    }
    & .RightColumn {
      margin-left: 10px; //   border: 2px solid orange;
    }
  }
}
