.BottomBox {
  width: 100%;
  height: 89px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .DescriptionTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #3a3a3a;
    text-transform: uppercase;
    margin-left: -2.25px;
  }

  .DescriptionBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    .DescriptionWords {
      display: flex;
      gap: 20px;

      .DescriptionWord {
        background: #f7f7f7;
        border: none;
        width: 159px;
        height: 42px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        // text
        font-weight: 500;
        color: #888888;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
      }

      .ClickedWord {
        background: #dbf2ff;
        border: 1px solid #5f93f1;

        // text
        font-style: normal;
        font-weight: 700;
        color: #5f93f1;
      }
    }

    .BoxedIcon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
