@import '../../styles/fonts';

.Container {
  height: 100%;
  & .Label {
    color: var(--grey8);
    margin-bottom: 10px;
  }

  .InputContainer {
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .Input {
      background: var(--white);
      width: 100%;
      height: 100%;
      padding: 0px 20px;
      border: 1px solid var(--grey4);

      // text
      @include fontBodyXL;
      letter-spacing: 0.02em;
      color: var(--grey10);

      &:focus {
        outline: 3px solid var(--off-white);
        border: 1px solid var(--off-white);
        color: var(--black);
      }

      &::placeholder {
        color: var(--grey6);
      }
    }

    .InputValColor {
      color: var(--black);
    }

    .ErrorColor {
      outline: 3px solid #ffdcdc;
      border: 1px solid #ffdcdc;
    }

    .EyeBall {
      position: absolute;
      right: 22.36px;
      top: 14px;
      .EyeIcon {
        width: 20px;
        height: 15.81px;
        fill: var(--sea-blue);
      }
    }
  }
}

.Error {
  position: absolute;
  top: 50px;
  @include fontBodyXS;
  color: var(--warning);
}
