.Onboarding {
  & .CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;

    & .DropdownContainer {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-top: 30px;

      & .DefaultMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 25px;
        color: var(--teal);
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
    & .InputContainer {
      height: 70px;
      & .InputKey {
        background-color: var(--foreground);
        width: 100%;
        height: 39px;
        border: 0px solid;
        padding: 0 20px;
        color: var(--gray);
        outline: none;
      }

      & .InputPhrase {
        border: none;
        overflow: auto;
        outline: none;
        width: 100%;
        padding: 20px;
        color: var(--gray);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none;
      }
    }
  }
}
