@import '../../../styles/fonts';

.WalletCard {
  height: 78px;
  width: 296px;
  background: radial-gradient(81.07% 41.44% at 74.1% 69.96%, #48a8e8 0%, rgba(100, 194, 209, 0.8) 100%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .CardItems {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 17px;

    .Text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;

      .Address {
        display: flex;
        justify-content: space-between;

        .AddressName {
          @include fontBodyXXL;
          text-transform: uppercase;
          color: var(--white);
          opacity: 0.6;
        }

        .CopyIcon {
          width: 11.95px;
          height: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

.BalanceCard {
  background: var(--sea-blue);

  .Wallet2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--white);
  }

  .AddressName2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--white);
  }

  .CopyIcon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;

    width: 54px;
    height: 23px;

    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
  }
}
