:root {
  --tooltip-margin: 40px;
  --tooltip-arrow-size: 6px;
  --tooltip-colour: var(--main-blue);
  --font-colour: white;
}

.TooltipWrapper {
  display: inline-block;
  position: relative;
  z-index: 100;

  .TooltipTip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 10px;
    color: var(--font-colour);
    background: var(--tooltip-colour);
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
  }
  .TooltipTip::before {
    content: ' ';
    color: var(--tooltip-colour);
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
  }

  // Top
  .TooltipTip.Top {
    top: calc(var(--tooltip-margin) * -1);
  }

  .TooltipTip.Top::before {
    top: 100%;
    border-top-color: var(--tooltip-background-color);
  }

  // Right
  .TooltipTip.Right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  .TooltipTip.Right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
  }

  // Bottom
  .TooltipTip.Bottom {
    bottom: calc(var(--tooltip-margin) * -1);
  }
  .TooltipTip.Bottom::before {
    bottom: 100%;
    border-bottom-color: var(--tooltip-background-color);
  }

  // Left
  .TooltipTip.Left {
    left: auto;
    right: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  .TooltipTip.Left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: var(--tooltip-background-color);
  }
}
