.Container {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .DragContainer {
    height: 100%;
    width: 100%;

    & svg {
      width: 60px;
      height: 60px;
    }
  }

  &:focus {
    outline: none;
  }

  & .ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    cursor: pointer;

    & .Text {
      font-size: 22px;
      color: var(--main-blue);
    }

    button {
      margin-top: 20px;
      border-radius: 10px;
      min-width: 100px;
    }
  }
}
