.PageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .SubHeading {
    color: var(--grey10);
    padding-top: 7px;
  }
  & .BtnContainer {
    align-self: flex-end;

    & .Button {
      border-radius: 10px;
      color: white;
    }
  }
}
