.PageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .SubHeading {
    color: var(--grey10);
    padding-top: 7px;
  }
  & .InputContainer {
    & .Input {
      width: 100%;
      height: 45px;
      border: 1px solid #dbf2ff;
      padding-left: 20px;
    }
    & .InputError {
      border: 1px solid #ffdcdc;
    }

    & .ErrorContainer {
      margin-top: 10px;
      height: 10px;

      & .Error {
        color: #d12221;
      }
    }
  }
  & .BtnContainer {
    align-self: flex-end;

    & .Button {
      border-radius: 10px;
      color: white;
    }
  }
}
