.HStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
@media only screen and (max-width: 600px) {
  .HStack {
    flex-direction: column;
  }
}
