.Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .InputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  & .BtnContainer {
    display: flex;
    align-self: flex-end;
    gap: 20px;

    & .CancelButton {
      border-radius: 20px;
      background-color: var(--white);
      border: 1px solid var(--main-blue);
      color: var(--main-blue);
      font-size: 16px;
    }
    & .Button {
      color: var(--white);
      border-radius: 20px;
      font-size: 16px;
    }
  }
}
