@import '../../styles/scrollbar.scss';

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  padding-top: 120px;

  .Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    & .BottomContainer {
      box-sizing: border-box;
      width: 100%;

      & .SelectTabContainer {
        display: flex;

        & .Tab {
          text-transform: uppercase;
          margin: 20px 20px;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
          color: var(--grey7);

          &.active {
            color: var(--black);
          }
        }

        & .Tab:first-of-type {
          margin-left: 5px;
        }
      }

      & .InfoContainer {
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--main-blue);
        border-radius: 5px;
        background-color: var(--grey1);
        overflow-x: hidden;
        @include scrollbar;
      }
    }
  }
}
