.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 36px);
  min-height: 900px;
  box-sizing: border-box;
  padding-top: 150px;

  .Content {
    height: 800px;
    display: flex;
    flex-direction: column;
    & .TopContainer {
      & .Title {
        margin-bottom: 10px;
        text-transform: uppercase;
        color: var(--black);
        font-size: 18px;
      }
    }

    //   BOTTOM
    & .BottomContainer {
      box-sizing: border-box;
      width: 100%;

      & .SelectTabContainer {
        display: flex;
        padding-top: 3%;

        & .Tab {
          text-transform: uppercase;
          margin: 20px 20px;
          padding-bottom: 10px;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
          color: var(--grey7);

          &.active {
            color: var(--black);
          }
        }

        & .Tab:first-of-type {
          margin-left: 5px;
        }
      }

      & .InfoContainer {
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--main-blue);
        border-radius: 5px;
        background-color: var(--grey1);
        overflow-x: hidden;
      }
    }
  }
}
