@import '../../styles/scrollbar.scss';

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
  box-sizing: border-box;
  padding-top: 120px;

  .Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    & .BottomContainer {
      box-sizing: border-box;
      width: 100%;

      & .Title {
        color: var(--grey7);
        font-size: 16px;
      }

      & .SelectTabContainer {
        display: flex;
        margin: 15px 0 20px 0;
        gap: 12px;

        & .Tab {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          border-radius: 4px;
          cursor: pointer;
          color: var(--grey7);
          background-color: var(--grey1);
          padding: 4px 17px;

          &.active {
            color: var(--main-blue);
            background-color: var(--off-white);
          }
        }
      }

      & .InfoContainer {
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--main-blue);
        border-radius: 5px;
        background-color: var(--grey1);
        overflow-x: hidden;
        @include scrollbar;
      }
    }
  }
}
