.Dropdown {
  width: 156px;

  & .SelectedItemContainer {
    align-items: center;
    border: 1px solid var(--teal);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    height: 25px;
    color: var(--gray);
    background-color: var(--foreground);

    &:hover {
      cursor: pointer;
    }
  }
  & .ListContainer {
    visibility: visible;
    cursor: pointer;
    background-color: var(--foreground);
    padding-top: 6px;

    &.close {
      visibility: hidden;
    }

    & .Item {
      height: 25px;
      text-align: left;
      margin: 0;

      &:hover {
        background-color: var(--grey3);
      }
    }
  }
}
