.Dropdown {
  width: 156px;

  & .SelectedItemContainer {
    align-items: center;
    border: 1px solid var(--teal);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    color: var(--gray);
    background-color: var(--foreground);

    &:hover {
      cursor: pointer;
    }
  }
  & .ListContainer {
    visibility: visible;
    cursor: pointer;
    background-color: var(--foreground);

    &.close {
      visibility: hidden;
    }

    & .Item {
      height: 25px;
      &:hover {
        background-color: var(--light-gray);
      }
    }
  }
}
