.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;

  & .Title {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: #a8a8a8;
  }
}
