.Profile {
  position: absolute;
  top: 10%;
  width: 75px;
  height: 75px;
  background: url('../../assets//images/Profile.png');
}

.Frame698 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 20px;
  position: absolute;
  top: 22%;

  .myDrivePlus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;

    .mDrive {
      font-family: 'Source Sans 3';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #686868;
    }

  }

  .trackMeeting {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A8A8A8;
  }
}

.contentWalletButton {
  position: absolute;
  bottom: 10%;

  .walletButton {
    border-radius: 20px;
    height: 42px;
    width: 150px;
    background: #5F93F1;

    // font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.lockF {
  position: absolute;
  bottom: 6.5%;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #A8A8A8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcaseItem {
  position: absolute;
  top: 12.5%;
  left: 4%;
  width: 43%;
  height: 22%;
  border-radius: 5px;
  display: flex;
  gap: 3.6%;

  .itemPic  {
    width: 56%;
    height: 100%;
    border-radius: 5px;
  }

  .ItemSpecs {
    display: flex;
    flex-direction: column;
    gap: 2.25%;
    margin-top: 0.1%;

    .P1 {
      font-family: 'Source Sans 3';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #3A3A3A;
    }

    .P2 {
      font-family: 'Source Sans 3';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #787878;
    }

    .P3 {
      font-family: 'Source Sans 3';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #787878;
    }
  }
}

.MainBySortBy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 4%;
  top: 37.5%;
  width: 24%;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  color: #A8A8A8;
  padding-left: 0.8%;
  border: 1px solid #ececec;

  .sortItems {
    text-align: end;
    padding-right: 15%;
    
    
  }

  .mostRecent {
    font-weight: 700;
    color: #829ece;
    cursor: pointer;
    opacity: 1;
    margin-left: 5px;
  }
}

.MainBySortDet {
  position: absolute;
  left: 4%;
  top: 39.8%;
  width: 24%;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  color: #A8A8A8;
  
  border: 1px solid #ececec;

  .mItem {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 10%;
    text-align: end;
  }
}

.rectangle918 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #F7F7F7;
  border-radius: 10px;
  height: 56%;
  width: 92%;
  left: 4%;
  right: 4%;
  top: 40%;
  // border: 2px dashed #48afe8;

  
}

.photosZero {
  position: absolute;
  bottom: 2%;
  right: 4%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  /* Greys/Grey 9 98 */

  color: #989898;
}