@import '../../../styles/scrollbars';
.Container {
  cursor: default;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;

  & .TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--grey4);
    width: 100%;
    position: sticky;
    top: 0;
    min-height: 45px;

    & .TitleText {
      font-size: 18px;
      font-weight: 600;
      color: var(--grey11);
    }

    & .XBtnContainer {
      cursor: pointer;
      position: absolute;
      right: 8px;
      top: 10px;
      padding: 5px;
      background-color: inherit;
      border: none;
      outline: none;
      border-radius: 10px;

      & .XBtn {
        width: 10px;
        height: 10px;
        fill: var(--grey11);
      }
    }
  }

  & .ListContainer {
    overflow-y: auto;
    padding-bottom: 10px;
    height: 100%;
    @include scrollbar;
  }
}

.ListItem {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  padding: 0px 30px;

  & .IconAndText {
    display: flex;
    align-items: center;
    gap: 10px;

    & svg {
      height: 20px;
      width: 20px;
    }
  }

  & .FileName {
    color: var(--main-blue);
    font-size: 14px;
    font-weight: 600;
  }

  & .ListBtn {
    margin-top: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}
