.DropZoneContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  gap: 10px;
}

.Container {
  text-align: center;
  padding: 20px;
  border: 1.5px var(--main-blue) dashed;
  background-color: var(--grey1);
  border-radius: 15px;
  height: 300px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  & .ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    & .Text {
      font-size: 22px;
      color: var(--main-blue);
    }

    button {
      margin-top: 20px;
      border-radius: 10px;
      min-width: 100px;
    }
  }
}

.InsideContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-width: 2px;
  border-radius: 10px;
  border-color: green;
  border-style: dashed;
  background-color: #fafafa;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;
  transition: border 0.24s ease-in-out;
  border: 1px solid red;
}
