.Container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: center;
  gap: 10px;
}

.container {
  text-align: center;
  padding: 20px;
  border: 3px blue dashed;
  width: 100%;
  margin: auto;

  &:focus {
    outline: none;
  }
}

.InsideContainer {
  flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	border-width: 2px;
	border-radius: 10px;
	border-color: green;
	border-style: dashed;
	background-color: #fafafa;
	color: black;
	font-weight: bold;
	font-size: 1.4rem;
	outline: none;
	transition: border 0.24s ease-in-out;
}