.PageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/SettingsBackground.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 662px;
    height: 452.1px;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(95, 147, 241, 0.2);
    position: relative;

    & .ContentContainer {
      max-width: 500px;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 80px 0px;
      position: relative;

      & .TitleContainer {
        width: 100%;
        margin-bottom: 36.49px;
        display: flex;
        align-items: center;
        gap: 12px;

        & .Title {
          color: var(--main-blue);
          font-size: 40px;
          font-weight: 900;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
        & .Icon {
          width: 40px;
          height: 35px;
        }
      }

      .Instructions {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: var(--grey10);
        margin-bottom: 48px;
      }

      & .InputAndBtn {
        display: flex;
        flex-direction: column;

        .Button {
          margin-top: 60px;
          width: 100%;
          height: 40px;
          background: var(--grey3);
          border-radius: 2px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          // text
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.02em;
          color: var(--white);
        }

        .ActivatedBtn {
          background: var(--main-blue);
        }
      }
    }
  }
}
