.Container {
  width: calc(100% - 1px);
  height: 100%;
  background-color: var(--white);
  border-radius: 5px;

  .Table {
    width: 100%;
    min-width: 500px;
    overflow: auto;
    border-collapse: collapse;
    border-radius: 5px;
    background: var(--grey2);

    .TableRow {
      background: var(--grey2);
      width: 100%;
      height: 40px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-collapse: collapse;

      th {
        width: 25%;

        font-weight: 600;
        font-size: 16px;
        line-height: 104.9%;
        text-transform: capitalize;
        color: var(--grey10);
      }

      & :nth-child(1) {
        text-align: left;
        padding-left: 25px;
        border-top-left-radius: 5px;
      }
      & :nth-child(2) {
        text-align: left;
        padding-left: 25px;
      }
      & :nth-child(3) {
        text-align: left;
        padding-left: 25px;
      }
      & :nth-child(4) {
        text-align: right;
        padding-right: 25px;
        border-top-right-radius: 5px;
      }
    }

    .TableRow2 {
      width: 100%;
      height: 60px;
      text-align: center;
      border-bottom: 1px solid black;
      border-width: 0px 1px 1px 1px;
      border-style: solid;
      border-color: var(--grey4);
      background-color: var(--white);

      & :nth-child(1) {
        text-align: left;
        padding-left: 25px;
        letter-spacing: 0.005em;
        color: var(--grey12);

        font-weight: 600;
        font-size: 16px;
        line-height: 104.9%;
      }
      & :nth-child(2) {
        text-align: left;
        padding-left: 25px;

        font-weight: 600;
        font-size: 16px;
        line-height: 104.9%;
        letter-spacing: 0.005em;
        text-transform: capitalize;
      }
      & :nth-child(3) {
        text-align: left;
        padding-left: 25px;

        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: var(--grey8);
      }
      & :nth-child(4) {
        text-align: right;
        padding-right: 25px;

        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: var(--black);
      }
    }

    .P {
      background-color: var(--white);
    }
  }

  .NoData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
    color: var(--grey8);

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}
