@import '../../../../styles/scrollbar';

.Container {
  width: calc(100% - 1px);
  height: 100%;
  background-color: var(--white);
  border-radius: 5px;

  .Table {
    width: 100%;
    min-width: 500px;
    overflow: auto;
    border-collapse: collapse;
    border-radius: 5px;
    background: var(--grey2);

    .TableRow {
      background: var(--grey2);
      width: 100%;
      height: 40px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-collapse: collapse;

      th {
        width: 25%;

        font-weight: 600;
        font-size: 16px;
        line-height: 104.9%;
        text-transform: capitalize;
        color: var(--black);
      }

      & :nth-child(1) {
        text-align: left;
        padding-left: 35px;
        border-top-left-radius: 5px;
      }
      & :nth-child(2) {
        text-align: left;
        padding-left: 25px;
      }
      & :nth-child(3) {
        text-align: left;
        padding-left: 25px;
      }
      & :nth-child(4) {
        text-align: right;
        padding-right: 100px;
        border-top-right-radius: 5px;
      }
    }

    .TableRow2 {
      width: 100%;
      height: 40px;
      text-align: center;
      border-bottom: 1px solid black;
      border-width: 0px 1px 1px 1px;
      border-style: solid;
      border-color: var(--grey4);
      background-color: var(--white);

      & :nth-child(1) {
        text-align: left;
        padding-left: 35px;
        color: var(--main-blue);

        font-weight: 600;
      }
      & :nth-child(2) {
        text-align: left;
        font-weight: 600;
        letter-spacing: 0.005em;
        text-transform: capitalize;

        & .StatusItem {
          padding: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 60px;
          height: 20px;
          border-radius: 2px;
          font-size: 12px;
          margin-left: 25px;
          padding: 5px 10px;

          &.Success {
            background-color: #e1fbff;
            color: #64c2d1;
          }
          &.Failure {
            background-color: #ffcccc;
            color: var(--warning);
          }
          &.Pending {
            background-color: #fff1bf;
            color: #e6b302;
          }
        }
      }
      & :nth-child(3) {
        text-align: left;
        padding-left: 25px;

        font-weight: 400;
        color: var(--grey8);
      }
      & :nth-child(4) {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;

        & .Value {
          padding: 0;
          font-size: 12px;
          font-weight: 500;
          width: 68px;
          height: 20px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffecde;
          color: #f37123;
          margin-right: 87px;
        }
      }
    }

    .P {
      background-color: var(--white);
    }
  }

  .NoData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
    color: var(--grey8);

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}
