@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&family=IBM+Plex+Sans+KR:wght@200;300;400;500&family=Teko:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500&family=Teko:wght@300;400;500;600&display=swap');

:root {
  --background: #f3f7ff;
  --foreground: #fff;
  --middle-blue-grey: #80a0d4;
  --main-blue: #5f93f1;
  --sea-blue: #48afe8;
  --teal: #64c2d1;
  --gray: #888888;
  --main-gradient: linear-gradient(244.5deg, #48afe8 12.9%, #317eff 85.63%);
  --second-gradient: linear-gradient(244.5deg, #317eff 12.9%, #80a0d5 85.63%);
  --box-shadow: 0 2px 10px 2px rgb(171 171 171 / 40%);
}

html,
body {
  color: var(--font-color);
  font-family: Barlow, Teko, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;

  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
