//Custom scrollbar
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey4);
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey7);
  }
}
