@import '../../styles/fonts';

.Tag {
  border: none;
  cursor: pointer;
  padding: 3px 10px;
  color: var(--grey);
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  @include fontBodyXL;
  transition: 0.4s ease-in-out all;
  &.round {
    border-radius: 3px;
  }

  &.clicked {
    background-color: var(--sea-blue);
    color: white;
  }
  &.unClicked {
    background-color: white;
  }
}
