.CardContainer {
  min-height: 370px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .TopItems {
    width: 85%;

    & .Image {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      overflow: hidden;
      margin: 20px 0px 10px 0px;
    }

    & .TextContainer {
      & .Title {
        font-size: 14px;
        font-weight: 700;
        color: #888888;
      }
      & .Owner {
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 8px;
        color: #c7c7c7;
      }
    }
  }

  & .BottomItems {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;

    & .UserItems {
      display: flex;
      align-items: center;

      & .Avatar {
        width: 30px;
        height: 30px;
        border-radius: 25px;
      }
      & .UserName {
        color: #888888;
        font-size: 10px;
        margin-left: 5px;
      }
    }

    & .PriceItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      & .PriceTitle {
        color: #888888;
        font-size: 10px;
      }

      & .Price {
        text-transform: uppercase;
        color: #64c2d1;
        font-weight: 700;
        font-size: 12px;
        display: flex;

        // TEMP
        img {
          width: 14px;
          height: 14px;
          margin-right: 3px;
        }
      }
    }
  }
}
