// FIRST TWO CLASSES NEEDED FOR RIGHT SIDE BORDER/BACKGROUND
:root {
  --leftbar-size: 240px;
}

.OuterBg {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 1%;
  bottom: 1%;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 98%;
  border-radius: 10px;
  width: calc(99vw - var(--leftbar-size));
  left: var(--leftbar-size);
  overflow: hidden;

  .InnerBg {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    top: 0.5%;
    bottom: 0.5%;
    left: 0.5%;
    right: 0.5%;
    width: 99%;
    height: 99%;
    background-color: var(--white);
    border-radius: 10px;
    padding-bottom: 1rem;
    overflow: hidden;

    .TopBar {
      box-sizing: border-box;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      .IconContainer {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 30px;
        padding-right: 40px;

        .BtnContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 25px;
          height: 24px;

          svg {
            fill: var(--grey4);
            cursor: pointer;
          }
        }

        .active {
          svg {
            fill: var(--main-blue);
          }
        }
      }
    }
    & .ChildrenContainer {
      width: 100%;
      height: 100%;
      // PUSHES ALL PAGE CONTENT AWAY FROM TOP & LEFT !IMPORTANT!
      // erasing top padding 200px cuz lots of pages doesn't need top padding except wallet so, applying padding only to that page
      padding: 0 60px 0 60px;
    }
  }
}

@media (max-width: 750px) {
  :root {
    --leftbar-size: 80px;
  }
  .OuterBg {
    width: calc(99vw - var(--leftbar-size));
    left: var(--leftbar-size);
  }
}
