// FIRST TWO CLASSES NEEDED FOR RIGHT SIDE BORDER/BACKGROUND

.OuterBg {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 1%;
  bottom: 1%;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 98%;
  border-radius: 10px;
  width: calc(99vw - var(--leftbar-size));
  left: var(--leftbar-size);
  overflow: hidden;

  .InnerBg {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    top: 0.5%;
    // bottom: 0.5%;
    // left: 0.5%;
    right: 0.5%;
    width: 99%;
    height: 99%;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;

    .TopBar {
      box-sizing: border-box;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 26px;
      width: 100%;

      .IconContainer {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 30px;
        padding-right: 60px;

        .BtnContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 25px;
          height: 24px;

          svg {
            fill: var(--grey4);
            cursor: pointer;
          }
        }

        .active {
          svg {
            fill: var(--main-blue);
          }
        }
      }
    }
    & .ChildrenContainer {
      width: 100%;
      height: 100%;
      // PADDING FOR ALL CONTENT
      padding: 0 60px;
    }
  }
}
