.DriveInfoContainer {
  display: flex;
  flex-direction: column;

  width: 100%;

  .MyDrivePlus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 115px;
    margin-bottom: 40px;

    .Title {
      // font-family: 'Source Sans 3';
      font-style: normal;
      display: flex;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      font-size: 1.5rem;
      color: #5f93f1;
    }
  }

  .DriveItem {
    // font-family: 'Source Sans 3';
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: #a8a8a8;
    padding: 10px 0;
  }
}

.MainBySortBy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 4%;
  top: 37.5%;
  width: 24%;
  // font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  color: #a8a8a8;
  padding-left: 0.8%;
  border: 1px solid #ececec;

  .sortItems {
    text-align: end;
    padding-right: 15%;
  }

  .mostRecent {
    font-weight: 700;
    color: #829ece;
    cursor: pointer;
    opacity: 1;
    margin-left: 5px;
  }
}

.MainBySortDet {
  position: absolute;
  left: 4%;
  top: 39.8%;
  width: 24%;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  color: #a8a8a8;
  border: 1px solid #ececec;

  .mItem {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 10%;
    text-align: end;
  }
}

.rectangle918 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 10px;
  height: 56%;
  width: 92%;
  left: 4%;
  right: 4%;
  top: 40%;
  border: 2px dashed #48afe8;

  .dragAndDrop {
    position: absolute;
    top: 20%;
    box-sizing: border-box;
    display: flex;
    gap: 11px;
    flex-direction: column;
    align-items: center;

    .dr {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      text-align: center;

      /* Main Gradient */

      background: linear-gradient(244.5deg, #48afe8 12.9%, #317eff 85.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .Button {
      border-radius: 5px;
      height: 45px;
      color: #ffffff;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.02em;
      font-style: normal;
      background: #5f93f1;
      width: 141px;
    }

    .UnlimitedSize {
      font-family: 'Source Sans 3';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #a8a8a8;
    }
  }
}

.photosZero {
  position: absolute;
  bottom: 2%;
  right: 4%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  /* Greys/Grey 9 98 */

  color: #989898;
}
