.DriveInfoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .MyDrivePlus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 115px;
    margin-bottom: 40px;

    .Title {
      font-style: normal;
      display: flex;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      font-size: 1.5rem;
      color: #5f93f1;
    }
  }

  .DriveItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--grey-text);
    padding: 10px 0;
  }
}

.PageContainer {
  width: 100%;
  padding: 200px 60px 0 60px;

  .DropZoneContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #f7f7f7;
    border-radius: 10px;
    height: 50%;
    width: 35%;
    left: 4%;
    right: 4%;
    top: 40%;
    border: 2px dashed #48afe8;

    .DropZoneTextContainer {
      position: absolute;
      top: 20%;
      box-sizing: border-box;
      display: flex;
      gap: 11px;
      flex-direction: column;
      align-items: center;

      .Title {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        background: linear-gradient(244.5deg, #48afe8 12.9%, #317eff 85.63%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .Button {
        border-radius: 5px;
        padding: 10px;
        height: 45px;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.02em;
        font-style: normal;
        background: #5f93f1;
        width: 141px;
      }

      .UnlimitedSize {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--grey-text);
      }
    }
  }

  .photosZero {
    position: absolute;
    bottom: 2%;
    right: 4%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #989898;
  }
}
