@import '../../../styles/scrollbar';

.TopTableContainer {
  height: 25%;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 23px;

  .SecondTd {
    text-transform: uppercase;
  }

  .ProgressBarContainer {
    .ProgressBar {
      width: 142px;
      height: 23px;
      background: #f2f6f4;
      border-radius: 2px;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      // text

      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #188658;
      text-shadow: 0px 0px 2px rgba(23, 64, 37, 0.1);

      .ColoredBack {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #dcf3dd;
        z-index: -1;
      }
    }
  }

  .IconSt {
    width: 30%;
  }
}

.TableBodyScroll {
  overflow-y: auto;
}

.TopTable {
  height: 90%;
  width: 100%;
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
  @include scrollbar;
}

.TableTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  color: var(--main-blue);
  padding: 1px 0 5px 5px;
}

.BottomTable {
  min-height: 50%;
  max-height: 65%;
  width: 100%;
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
  @include scrollbar;

  .GridContainer {
    display: grid;
    padding: 15px;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    height: 85%; // please don't make it over 85%, if we give more height it is overlapping and not showing last row pictures fully
  }
}

.BottomTableConditionalStyle {
  border: none;
}

.TableContainer {
  width: calc(100% - 1px);
  height: 100%;
  background-color: var(--white);
  border-radius: 5px;

  .Table {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    border-radius: 5px;
    background: var(--grey2);

    .TableRow {
      background: var(--grey2);
      width: 100%;
      height: 40px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-collapse: collapse;

      th {
        background: var(--grey2);
        position: sticky;
        top: 0;
        z-index: 10;
      }

      th {
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        color: var(--black);
      }

      & :nth-child(1) {
        width: 5%;
        padding-left: 5px;
      }

      & :nth-child(2) {
        text-align: left;
        width: 30%;
        border-top-left-radius: 5px;
      }
      & :nth-child(3) {
        width: 10%;
        text-align: left;
      }

      & :nth-child(4) {
        width: 15%;
        text-align: left;
      }
      .HideTh {
        width: 35px;
      }

      & :nth-child(5) {
        width: 21%;
        text-align: left;
        padding-left: 25px;
      }
      & :nth-child(6) {
        width: 15%;
        text-align: left;
        padding-left: 35px;
        border-top-right-radius: 5px;
      }
      & :nth-child(7) {
        padding-right: 25px;
      }
      & :nth-child(8) {
        text-align: left;
      }
      .DownloadedIconStyle {
        width: 100%;
        height: 18px;
        padding-right: 10px;
      }
      .DownloadActivityIcon {
        width: 22px;
        height: 19px;
        // border: 1px solid green;
        margin-left: -5px;
      }
    }

    .TopTableRowHeight {
      height: 0;
    }

    .TableRow2 {
      width: 100%;
      height: 60px;
      text-align: center;
      border-bottom: 1px solid black;
      border-width: 0px 1px 1px 1px;
      border-style: solid;
      border-color: var(--grey4);
      background-color: var(--white);

      .FirstTd {
        padding-left: 5px;
      }

      & :nth-child(2) {
        text-align: left;

        font-weight: 700;
        font-size: 16px;
        line-height: 104.9%;
        color: var(--main-blue);
      }
      & :nth-child(3) {
        text-align: left;

        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--teal);
      }
      & :nth-child(4) {
        text-align: left;

        .AmountContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 5px;

          width: 122px;
          height: 29px;
          background: #ffecde;
          border-radius: 4px;
          padding-right: 10px;

          .Cycon {
            width: 18.14px;
            height: 18.14px;
          }
          .CyconDescDiv {
            font-weight: 700;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: 0.03em;
            color: #f37123;
          }
        }

        .AmountFreeContainer {
          width: 62px;
          background: #d9faff;
          padding-right: 0;

          //text

          font-weight: 700;
          font-size: 16px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.03em;
          color: var(--teal);
        }
      }

      & :nth-child(5) {
        text-align: left;
        padding-left: 25px;

        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: var(--grey10);
      }
      & :nth-child(6) {
        text-align: left;
        padding-left: 35px;

        font-weight: 700;
        font-size: 16px;
        line-height: 104.9%;
        letter-spacing: 0.005em;
        color: var(--sea-blue);
      }

      & :nth-child(7) {
        padding-right: 25px;
        transition: all 0.05s ease-in-out;
        position: relative;

        svg {
          cursor: pointer;
        }
      }
      & :nth-child(8) {
        text-align: left;
      }
    }

    .PausedTd {
      background: #f0fdff;
    }

    .P {
      background-color: var(--white);
    }
  }

  .NoData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
    color: var(--grey8);

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.BottomWhenQueExist {
  min-height: 20%;
  max-height: 33%;
}
