.PageContainer {
  width: 100%;
  padding: 200px 60px 0 60px;
  overflow: hidden;

  .GridContainer {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    height: 85%;
    overflow-y: auto;
  }
}
