.PageContainer {
  width: 100%;
  height: 100%;
  padding: 200px 60px 0 60px;
  overflow: hidden;

  .GridContainer {
    display: grid;
    padding: 15px;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    height: 85%; // please don't make it over 85%, if we give more height it is overlapping and not showing last row pictures fully
    overflow-y: auto;
  }
}
