.PageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/SettingsBackground.svg');
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
