@import '../../../styles/fonts.scss';

.MainBySortBy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 4%;
  top: 37%;
  min-width: 200px;
  font-style: normal;
  @include fontBodyXL;
  background-color: white;
  color: var(--grey8);
  padding-left: 0.8%;
  padding: 5px 0.8% 5px 0.8%;
  border: 1px solid #ececec;
  border-radius: 5px;

  .UpCaret {
    width: 10px;
    margin-bottom: 2px;
  }

  .DownVectorIcon {
    width: 10px;
  }

  .SortItemsContainer {
    text-align: end;
    padding-right: 15%;
  }

  .mostRecent {
    font-weight: 700;
    color: #829ece;
    cursor: pointer;
    opacity: 1;
    margin-left: 5px;

    & svg {
      margin-left: 4px;
    }
  }
}

.MainBySortDet {
  position: absolute;
  left: 60px;
  min-width: 200px;
  font-style: normal;
  @include fontBodyXL;
  background-color: white;
  color: var(--grey8);
  border: 1px solid var(--grey4);
  border-radius: 5px;
  padding-bottom: 12px;

  .SortListItem {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 10%;
    padding: 7px 18px;
    text-align: end;
  }
}
